[Desktop Entry]
Comment[en_US]=
Comment=
Exec=konsole -e /usr/local/anaconda3/bin/jupyter notebook
GenericName[en_US]=Notebook
GenericName=Notebook
Icon=
MimeType=
Name[en_US]=Notebook
Name=Notebook
Path=/home/sumem/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
